.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
	background: #0080FF;
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background-image: url('/images/scoreboardBackground.png');
	text-align: center;

	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background-color: black;
	cursor: pointer;
}

.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

body {
	background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 25%;
	top: 6%;
	width: 50em;
	height: 57.6em;

	overflow: hidden;
	background: #87CEEB;
	background-image: url('/images/background.png');
	background-size: 50em 26.8em;
	background-repeat: no-repeat;
	background-position: 0em 30em;
	z-index: -1;
}

.Ground {
	position: absolute;
	width: 122.4em;
	height: 7.6em;
	margin-top: 50em;
	background-image: url('/images/ground.png');
	background-repeat: repeat-x;
	z-index: 1;
}

.Cloud {
	position: absolute;
	width: 132em;
	height: 100%;
	margin-top: 2em;
	background-image: url('/images/cloud.png');
	background-repeat: repeat-x;
	z-index: -1;
}

.PipeLower {
	position: absolute;
	width: 122.4em;
	height: 100%; 
	margin-top: 30em;
	background-image: url('/images/lower_pipe.png');
	background-repeat: no-repeat;
	z-index: -1;
}

.PipeUpper {
	position: absolute;
	width: 122.4em;
	height: 100%; 
	margin-top: -20em;
	background-image: url('/images/upper_pipe.png');
	background-repeat: no-repeat;
	z-index: -1;
}

.Score {
	position: absolute;
	top: 0.5em;
	left: 1em;
	font-size: 5em;
}

.Scoreboard-score {
	position: absolute;
	top: 0.5em;
	left: 1em;
	font-size: 5em;
	background-color: white;
}

.Scoreboard-highscore {
	position: absolute;
	top: 2em;
	left: 1em;
	font-size: 5em;
	background-color: white;
}

.Player-eye {
	position: absolute;
	left: 3.5em;
	top: 0.5em;
	height: 1em;
	width: 1em;
	background: #FFCC00;
}

.Player-eye-ball {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	height: 0.5em;
	width: 0.5em;
	background: black;
}

.Player-wings {
	position: absolute;
	left: 1em;
	top: 3em;
	height: 3em;
	width: 3em;
	background: #FFCC00;
	transform-origin: top left;
	animation: 0.4s flap alternate infinite;
}

@keyframes flap {
	from {
		transform: rotateX(0);
	}
	to {
		transform: rotateX(180deg);
	}
}